.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2.5rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
}

.navbar-logo{
  list-style: none;
  font-family: 'Stencil', cursive;
  font-size: 3rem;         
  font-weight: 700;       
  color: #2f855a;          
  letter-spacing: 1px;     
  text-transform: uppercase; 
  cursor: pointer;
}

.navbar-logo a {
  text-decoration: none;
  color: inherit;
}

.navbar-logo:hover {
  color: #276749;        
  transform: scale(1.05);  
}

.navbar-links {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 1.25rem;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  transition: transform 0.2s;
  margin: 0;
  display: flex;
  align-items: center; 
}

.navbar-profile-menu{
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.navbar-links li a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
}

.navbar-links li a:hover {
  color: #2f855a;
  transform: scale(1.05);  
}
