.service-item {
  padding: 1rem;
  background: white;
  border: .0625rem solid #ddd;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 500;
}

.service-item:hover {
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
