.promote-page {
  padding: 2rem;
}

/* Flex container for top bar */
.promote-page__header {
  display: flex;
  justify-content: space-between; 
  align-items: center;             
  margin-bottom: 1.5rem;
}

/* User info styling */
.promote-page__user {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.login-button{
    background-color: transparent;
    border: none;
    color: #ec4019;
    cursor: pointer;
    display: flex;
    align-items: center;
}


@media (max-width: 600px) {
  .promote-page__user {
    font-size: 0.875rem;
  }
}