.boxes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes-container {
    display: flex;             
    flex-wrap: wrap;           
    justify-content: center;   
    gap: 1rem;
    padding: 2rem;
}

.service-link {
  text-decoration: none;
  list-style-type: none;
  color: #333;
}

.service-link:hover {
  color: #766db1;
  
}

/* Make it 1 column on smaller screens */
@media (max-width: 600px) {
  .boxes-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
}
